.App {
  text-align: center;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img {
  width: 1500px;
  height: 660px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(25, 24, 24, 0.6);
  padding: 10px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  width: 1500px;
  height: 660px;
}
.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.play-icon {
  color: #fff;
  font-size: 40px;
}

.play-text {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}
